p {
    @apply 
    py-8
    text-center
}

.body-results {
    @apply
    flex
    flex-col
    items-center       
    w-[600px]
    min-w-[300px]
    absolute
    top-[50%]
    left-[50%]
    translate-x-[-50%]
    translate-y-[-50%] 
    shadow-lg
    shadow-black
}

.central-results {
    @apply
    overflow-auto
    w-[1024px]
    max-w-[1024px]
    max-h-[720px]
    p-2
    rounded-b-sm   
    bg-[#bdbdbd]
    border-x-4
    border-b-4
    border-[#bdbdbd] 
    border-l-[#ababab]
    border-b-[#6c6c6c]
    border-r-[#5e5e5e]
}


.box-bottom-results {
    @apply
    my-2 
    flex 
    items-end
}

.box-bottom-results input {
    @apply
    hidden
}


.box-bottom-results .button-press {
    @apply 
    flex
    items-center
    justify-center
    block
    ml-3
    mt-3
    px-2
    py-3
    h-10
    w-52
    text-sm
    uppercase
    cursor-pointer
    bg-[#bdbdbd] 
    border-2
    border-t-[#cfcfcf]
    active:border-t-[#1f1f1f]
    border-l-[#cfcfcf]
    active:border-l-[#1f1f1f]
    border-r-[#1f1f1f]
    active:border-r-[#cfcfcf]
    border-b-[#1f1f1f]
    active:border-b-[#cfcfcf]
}

.box-bottom-results img {
    @apply 
    w-6
    h-6 
    mr-2
}

.graph-section {
    @apply
    mx-4 
    border-[16px] 
    border-white
}

